<nav class="navbar navbar-light" style="background-color: #FFFFFF; width: 100%;">
  <img class="fondo" src="assets/imagen-header/uvas.jpg"  />
  <!-- <div class="container-fluid XD">
    <a class="navbar-brand centerText" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span>Cerrar Sesion</span>
    </button>
  </div> -->
</nav>
