<div class="container pt-3">
  <div class="table-responsive">
    <div class="table-wrapper mar">
      <div class="table-title">
        <div class="row ">
          <div class="col-sm-6">
            <h2><b>Productos Fitosanitarios</b></h2>
          </div>
          <div class="col-sm-6">
            <a href="#addEmployeeModal" (click)="vaciarInputs()" class="btn btn-success buttonAgregar" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar Fitosanitario</span></a>
          </div>
        </div>
      </div>
      <table width="100%" border="solid" class="table table-striped table-hover">
        <thead>
          <tr>
            <!-- <th>
              <span class="custom-checkbox">
                <input type="checkbox" id="selectAll">
                <label for="selectAll"></label>
              </span>
            </th> -->
            <th>Id</th>
            <th>Nombre comercial</th>
            <th>Objetivo</th>
            <th>Ingrediente activo</th>
            <th>Mojamiento</th>
            <th>Carencia</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fitos of fitosanitarios">
            <!-- <td>
              <span class="custom-checkbox">
                <input type="checkbox" id="checkbox1" name="options[]" value="1">
                <label for="checkbox1"></label>
              </span>
            </td> -->
            <td width="50px"> {{ fitos.idFitosanitario }}</td>
            <td width="135px"> {{ fitos.nombreComercial }}</td>
            <td width="150px"> {{ fitos.objetivo }}</td>
            <td width="150px"> {{ fitos.ingredienteActivo }}</td>
            <td width="40px"> {{ fitos.mojamiento }}</td>
            <td width="20px"> {{ fitos.carencia }}</td>
            <td>
              <a href="#editEmployeeModal" (click)='cargarFitosanitario(fitos.idFitosanitario)' class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
              <a  (click)='delete(fitos)' href="" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Eliminar">&#xE872;</i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#">Previous</a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>




<!-- AGREGAR ENCARGADO BPA Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Agregar Fitosanitario</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nombre">Nombre comercial</label>
            <input type="text" class="form-control" [(ngModel)]="fitosanitario.nombreComercial" name="nombre">
          </div>

          <div class="form-group">
            <label for="run">Objetivo</label>
            <!-- (blur)="formatearRut(encargado.run)" -->
            <input type="text" class="form-control" [(ngModel)]="fitosanitario.objetivo" id="run" name="Objetivo">

          </div>

          <div class="form-group">
            <label for="telefono">Ingrediente activo</label>
            <input type="text" class="form-control" [(ngModel)]="fitosanitario.ingredienteActivo" name="ingredienteActivo">
          </div>

          <div class="form-group">
            <label for="email">Mojamiento</label>
            <input type="number" class="form-control" [(ngModel)]="fitosanitario.mojamiento" name="mojamiento">
          </div>

          <div class="form-group">
            <label for="pass">Carencia</label>
            <input type="number" class="form-control" [(ngModel)]="fitosanitario.carencia" name="carencia">
          </div>

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default left" data-dismiss="modal" value="Cancel">
          <!--[disabled]="agregarEn" -->
          <input type="button" (click)='crear()' class="btn btn-success" data-dismiss="modal" value="Agregar">
        </div>
      </form>
    </div>
  </div>
</div>


<!-- EDITAR ENCARGADO BPA Modal HTML -->
<div id="editEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Editar Encargado BPA</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nombre">Nombre comercial</label>
            <input type="text" class="form-control" [(ngModel)]="fitosanitario.nombreComercial" name="nombre">
          </div>

          <div class="form-group">
            <label for="run">Objetivo</label>
            <!-- (blur)="formatearRut(encargado.run)" -->
            <input type="text" class="form-control" [(ngModel)]="fitosanitario.objetivo" id="run" name="Objetivo">

          </div>

          <div class="form-group">
            <label for="telefono">Ingrediente activo</label>
            <input type="text" class="form-control" [(ngModel)]="fitosanitario.ingredienteActivo" name="ingredienteActivo">
          </div>

          <div class="form-group">
            <label for="email">Mojamiento</label>
            <input type="number" class="form-control" [(ngModel)]="fitosanitario.mojamiento" name="mojamiento">
          </div>

          <div class="form-group">
            <label for="pass">Carencia</label>
            <input type="number" class="form-control" [(ngModel)]="fitosanitario.carencia" name="carencia">
          </div>

        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default left" data-dismiss="modal" value="Cancel">
          <input type="button" (click)='update()' class="btn btn-info" data-dismiss="modal" value="Guardar">
        </div>
      </form>
    </div>
  </div>
</div>
