  <div class="wrapper d-flex align-items-stretch">

    <app-sidenav-definitivo></app-sidenav-definitivo>

    <div id="content" class="p-4 p-md-5">

      <app-navbar></app-navbar>

      <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
        </div>

        <!-- Content Row -->

        <div class="row">
          <div class="col-lg-12">
            Bienvenid@ al Sistema de Registro de Productos Fitosanitarios y/o Fertilizantes
          </div>
        </div>
      </div>
    </div>
  </div>
