<nav id="sidebar">
  <div class="p-4 pt-5">
    <a routerLink="/home" class="img logo rounded-circle mb-5" style="background-image: url(assets/sidenavDefinitivo/images/uvas2.jpg);"></a>
    <h3 class="edit">Sistema Agricola</h3>
    <ul class="list-unstyled components mb-5">
      <li routerLinkActive="active">
        <a routerLink="/home">Home</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/estadisticas">Estadisticas</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/encargadosBPA">Encargados BPA</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/fitosanitarios">Fitosanitarios</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/campos">Campos</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/registrosFitosanitarios">Registros Fitosanitarios</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/predios">Predios</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/administradores">Administradores</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/cuarteles">Cuarteles</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/fertilizantes">Fertilizantes</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/registrosFertilizantes">Registros Fertilizantes</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/listarRegistrosFertilizantes">Ver Registros Fertilizantes</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/listarRegistrosFitosanitarios">Ver Registros Fitosanitarios</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/listarEncargadosBpa">Ver Encargados BPA</a>
      </li>
    </ul>

    <div class="footer">
      <p>
        All rights reserved | Hengo
      </p>
    </div>

  </div>
</nav>
